@use '../../styles/themes/theme-1.scss' as theme;

.container {
    background-color: theme.$background-2;
    display: flex;
    min-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.aligner {
    margin-left: 5px;
    display: flex;
    align-content: center;
}


.check {
    color: #07bc0c;
}

.error {
    color: #e74c3c
}

.none {
    color: #585858
}

.customCol {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}

.deleteButton {
    background-color: theme.$background-2;
    border: 0;
    box-shadow: none;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 100%;
    border-left: 4px solid theme.$background-1;
}

.deleteButton:hover,
.deleteButton:active,
.deleteButton:focus {
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: theme.$blue-color;
    border-left: 4px solid theme.$background-1 !important;
}