.ideContainer{
    height: 10%;
    width: 100%;
    display: flex;
}

.ide {
    height: 100%;
    width: 100%;
}

.container {
    font-family: sans-serif;
    height: 100vh;
    resize: horizontal;
    width: 100vw;
  }