@use '../../styles/themes/theme-1.scss' as theme;
$background-color: #1E1E1E;
$text-color: #D4D4D4;
$red-color: #E74C3C;
$yellow-color: #F1C40F;
$green-color: #2ECC71;
$blue-color: #3D8BFD;
$purple-color: #8540F5;
$text-color: #D4D4D4;


.ide {
    height: 100%;
    width: 100%;
    background-color: $text-color;
}

.buttonBar {
    height: 5%;
    width: 100%;
    display: flex;

    & button {
        height: 100%;
        width: 100%;

        background-color: $background-color;
        color: $text-color;

        border: none;
        border: 1px solid $text-color;
    }
}

.block {
    height: 100%;
    width: 100%;
}

.editor {
    @extend .block;
}

.console {
    @extend .block;
    position: relative;

    background-color: $background-color;
    color: $text-color;

    border-top: 1px solid $text-color;
    padding-left: 64px;

    // Scroll-bar
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: auto;

    &::-webkit-scrollbar {
        width: 15px;
        background: $background-color;
    }

    &::-webkit-scrollbar-thumb {
        background: rgb($text-color, 0.2);
    }

    // All
    & * {
        color: $text-color;
        font-size: small;

        &:before {
            padding: 0;
            margin: 0;
            position: absolute;
            left: -35px;
        }

        // Types
        &.logInput:before {
            content: '$';
        }

        &.logOutput:before {
            content: ''
        }

        // Colors
        &.logRed {
            color: $red-color;
        }

        &.logYellow {
            color: $yellow-color;
        }

        &.logGreen {
            color: $green-color;
        }

        &.logBlue {
            color: $blue-color;
        }

        &.logPurple {
            color: $purple-color;
        }
    }

    // Input
    .inputContainer {
        position: relative;

        input {
            border-bottom: 1px solid $text-color;
        }
    }

    & input {
        padding-bottom: 10px;
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;
    }

    // Paragraphs
    & p {
        margin-bottom: 0px;
        margin-top: 0px;
        position: relative;
        word-wrap: break-word;
        white-space: pre;
    }
}

.container {
    font-family: sans-serif;
    height: 100vh;
    resize: vertical;
    overflow: scroll;
}

.customButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 120px;

    background-color: theme.$background-2;
    color: theme.$text;

    border: none;
    border-radius: 10px;
    border: 1px solid theme.$background-2;

    margin-bottom: 10px;
}

.customButton:hover,
.customButton:active,
.customButton:focus {
    border: 1px solid theme.$primary;
    color: theme.$blue-color;
}

.customButton:disabled {
    opacity: 0.2;
    outline: none;
    border: 0px solid;
    pointer-events: none;
    color:white;
}

.saveBtn {
    margin-left: 15px;
}

.icon {
    padding-right: 13px;
 }