$background-color: #1E1E1E;
$text-color: #D4D4D4;

.ide{
    height:100%;
    width: 100%;
    background-color: $text-color;
}

.buttonBar{
    height: 10%;
    width: 100%;
    display: flex;

    & button{
        height: 100%;
        width: 50%;

        background-color: $background-color;
        color:$text-color;

        border: none;
        border: 1px solid $text-color;
    }
}

.block{
    height: 47%;
    width: 100%;
}

.editor{
    @extend .block;
}

.console {
    @extend .block;
    position: relative;

    background-color: $background-color;
    color: $text-color;

    border-top: 1px solid $text-color;
    padding-left: 64px;
    
    // Scroll-bar
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: auto;
    &::-webkit-scrollbar{
        width: 15px;
        background: $background-color;
    }
    &::-webkit-scrollbar-thumb {
        background: rgb($text-color, 0.2);
    }

    // All
    & *{
        color: $text-color;
        font-size: small;

        &:before{
            padding: 0;
            margin: 0;
            position: absolute;
            left: -35px;
        }

        &.logInput:before{
            content: '$';
        }
        
        &.logOutput:before{
            content: ''
        }
    }

    // Input
    .inputContainer{
        position: relative;
    }
    
    & input{
        padding-bottom: 10px;
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;
    }

    // Paragraphs
    & p{
        margin-bottom: 0px;
        margin-top: 0px;
        position: relative;
        word-wrap: break-word;
        white-space: pre;
    }
}