@use '../../styles/themes/theme-1.scss' as theme;

.icon {
    font-size: 12px;
    padding-left: 10px;
    color: theme.$text;

    &:hover {
        color: theme.$blue-color;
    }
}

/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btnPrimary {
    color: black;
    background-color: theme.$text;
    border-color: black;
    /*set the color you want here*/
    margin-left: 3px;
}

.btnPrimary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: theme.$text !important;
    border-color: black;
    /*set the color you want here*/
}

.addButton {
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 50px;

    background-color: theme.$background-2;
    color: theme.$text;

    border: none;
    border-radius: 10px;
    border: 1px solid theme.$background-2;
}

.addButton:hover,
.addButton:active,
.addButton:focus {
    border: 1px solid theme.$primary;
    color: theme.$blue-color;
}

.tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
}

.tabSelected {
    background: #202020;
    border-radius: 5px 5px 0 0;
    margin-right: 15px;
    border: none;
    padding: 10px 20px;
    border-bottom: 5px solid transparent;

    &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: theme.$blue-color;
      }
}

.tabPanel {
    display: none;

    &--selected {
        display: block;
    }
}

.tabList {
    margin: 0 0 10px;
    padding: 0;
    border-bottom: 1px solid rgba(255,255,255,.25);
}

.item {
    color: theme.$text;

    &:hover {
        background-color: theme.$background-2;
        color: theme.$blue-color;
    }
}

.menu {
    background-color: theme.$background-2;
}